::ng-deep .dialog-about {
  position: absolute;
  z-index: 12000;

  .p-dialog {
    background: linear-gradient(45deg, #0c59a8, #00b648);
    color: white;
    padding: 30px 75px;
  }
  .p-dialog-header {
    background: transparent;
    color: white;
  }
  .p-dialog-header .p-dialog-title {
    font-size: 30px;
  }
  .p-dialog-header-maximize {
    display: none!important;
  }
  timesicon {
    color: white!important;
  }
  .p-dialog-content {
    background: transparent;
    color: white;
    display: flex;
  }
}
::ng-deep .scroll-bar-about {
  background: transparent;
  color: white;
  display: flex;

  .ps__thumb-y {
    background-color: #00f260!important;
  }
  .ps__thumb-y:hover {
    background-color: #3EBF9D!important;
  }
  .ps__rail-y {
    background-color: #0575e6!important;
  }
  .ps-content {
    display: flex;
  }
}
.left-content {
  width: 930px;
}
h1 {
  color: white;
  font-size: 30px;
}
h4 {
  color: white;
  font-size: 18px;
}
.little-summary {
  color: white;
  font-size: 16px;
  margin-top: 14px;
}


//right-content
.right-content {

}
.logo-area {
  background-color: transparent;
  border-radius: 50%;
  border:4px solid #0ffebf;
  //4px solid #0084ff
  height: 300px;
  width: 300px;
  position: fixed;
}
img {
  position: absolute;
  z-index: -10;
  top: -17px;
  scale: 0.96;
  right: -229px;
}
