<p-dialog
  *ngIf="this._appInformationService.displayDialog"
  [(visible)]="this._appInformationService.displayDialog"
  class="dialog-about"
  [maximizable]="true"
  [style]="{
    'max-height': '100vh',
    width: '100%',
    height: '100%',
    'background-color': '#F2F2F2'
  }"
>
  <perfect-scrollbar class="scroll-bar-about">
    <div class="left-content">
      <h1>About us</h1>
      <p class="little-summary">
        VIETNAM SATELLITE IMAGES SYSTEM (VSIS) is a satellite images website providing the necessary
        tools for users to work with different types of satellite image data within
        the territory of Vietnam.
      </p>
      <p class="little-summary">
        The project team chose the topic of building a system that be able to store
        and manage satellite image data on the territory of Vietnam, which will
        serve many research purposes having practical value in the fields of
        meteorology and geology in Vietnam such as researching rainfall, warning of
        flood locations, measuring temperature of provinces and cities,... like
        other satellite imaging systems in the world
      </p>
      <h2>Understand us</h2>
      <p class="little-summary">
        <a>VIETNAM SATELLITE IMAGES SYSTEM (VSIS) is available open software built on the </a>
        <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://leafletjs.com/" target="_blank">
          Angular Framework</a>
        <a> platform, a popular web framework in system construction. </a>
        <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://angular.io/" target="_blank">
          Leaflet</a>
        <a> map library is used to support integration of map types to display satellite images on them. </a>
      </p>
      <p class="little-summary">
        <a>User can access to code of this system on this link </a>
        <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://github.com/Jetblueberry/SatelliteImageSystem" target="_blank">
          github</a>
        <a>. If any questions, please send to email of developer: </a>
        <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;">phananhle2002@gmail.com</a>
      </p>
      <h4>Core Platform Software Used</h4>
      <ul>
        <li>
          <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://leafletjs.com/" target="_blank">
            Leaflet:</a>
          <p>Providing all types of embedding map.</p>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://docs.geoserver.org/" target="_blank">
            Geoserver: </a>
            <p>Supporting WMS service to query satellite images from virtual machine server.</p>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 252 188); font-weight: 600;" href="https://angular.io/" target="_blank">
            Angular Framework: </a>
          <p>Web Framework that used to develop this software.</p>
        </li>
      </ul>
      <h4>Plugins Software Used</h4>
      <ul style="font-size: 14px;">
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://github.com/Igor-Vladyka/leaflet.browser.print" target="_blank">
            leaflet-browser-print</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://github.com/perliedman/leaflet-control-geocoder" target="_blank">
            leaflet-geocoder</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://github.com/digidem/leaflet-side-by-side" target="_blank">
            leaflet-side-by-side</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://www.npmjs.com/package/leaflet-geosearch" target="_blank">
            leaflet-geosearch</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://www.npmjs.com/package/leaflet-simple-map-screenshoter" target="_blank">
            leaflet-simple-map-screenshoter</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://www.npmjs.com/package/@rdkmaster/ngx-perfect-scrollbar/" target="_blank">
            ngx-perfect-scrollbar</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://www.npmjs.com/package/ngx-build-plus" target="_blank">
            ngx-build-plus</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://www.primefaces.org/primeng-v14-lts/setup" target="_blank">
            primeng-v14</a>
        </li>
      </ul>
      <h2>Satellite images Data</h2>
      <p class="little-summary">
        <a>Satellite images data that software used is configured in virtual machine server.
          Vietnam Satellite Images System (VSIS) has </a>
        <a style="color: red;">NO</a>
        <a> rights and responsibilities in case of data changed. </a>
        <a>If user has any question about data, please contact the person or association owns the data by this email: </a>
        <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;">
          phancongtien@gmail.com</a>
      </p>

      <h1>Map Types Software Used</h1>
      <p>
        <a>All map types here provided by Leaflet, access by this link: </a>
        <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;" href="https://leaflet-extras.github.io/leaflet-providers/preview/">
          mapTypesList</a>
      </p>
      <ul style="font-size: 14px;">
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;">
            Esri_WorldImagery</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;">
            WorldPhysicalMap</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;">
            CartoDB_Positron</a>
        </li>
        <li>
          <a style="text-decoration: underline; color: rgb(0 255 56); font-weight: 600;">
            CartoDB_DarkMatter</a>
        </li>
      </ul>
    </div>
    <div class="right-content">
      <div class="logo-area"></div>
      <img src="/assets/globe.png">
    </div>
  </perfect-scrollbar>
</p-dialog>
