<p-confirmDialog
  key="cf1"
  class="dialog1"
  [style]="{ width: '50vw', left: '100px' }"
  [baseZIndex]="10000"
  label="Right"
></p-confirmDialog>
<div class="btn-explore" *ngIf="this._appGuideService.displayBtnExplore">
  <div class="icon-plus">
    <i class="fa-solid fa-circle-plus"></i>
  </div>
  <span class="text-span">Explore map</span>
  <div class="icon-globe">
    <i class="fa-solid fa-earth-asia"></i>
  </div>
</div>


<p-confirmDialog
  key="cf2"
  class="dialog2"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  label="Left"
  message="Can you pick me this please?"
></p-confirmDialog>
