.container-fluid {
  width: 350px;
  padding: 0px;
  padding: 0px;
  z-index: 1000;
  position: absolute;
  top: 257px;
  background: linear-gradient(90deg, #11579D, #3CAC5A);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.container {
  padding: 0px;
}
.layout-menu-block {
  padding: 20px;
}

// details
.box-summary-datasets {
  border-top: 1px solid White;
  border-bottom: 1px solid White;
  display: flex;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.remove-btn {
  cursor: pointer;
  font-size: 12px;
}
.list-details-datasets {
  margin: 5px 0px;
  list-style: none;
  padding-left: 5px;
}
.box-details {
  background: #496cf5;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 5px;
  border: 1px solid white;
}
.box-details-header {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 38px;
  -webkit-box-pack: justify;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid white;
}
.display-btn {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: #496cf5;
}
.icon-grp-area {
  display: flex;
  margin-right: 5px;
  margin-left: auto;
  color: white;
  font-size: 14px;
  padding: 5px;
}
.box-details-body {
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 10px;
}
.row-1 {
  display: flex;
}
.summary-detail {
  border-radius: 3px;
  background-color: #002470;;
  color: rgb(255, 255, 255);
  flex-grow: 1;
  height: 32px;
  min-width: 32px;
  box-shadow: none;
}
.menu-btn {
  border-radius: 3px;
  background-color: #002470;;
  color: rgb(255, 255, 255);
}
.row-2 {
  display: flex;
  margin-top: 5px;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.opacity {
  width: 92px;
  margin-right: 20px;
  font-size: 14px;
}
.slidercontainer {
  left: 135px;
}
.slidercontainer input {
  width: 185px;
}
.slider {
  background-color: white;
}
.row-3 {
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}
.box-range-time {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #002470;;
  flex-grow: 1;
  cursor: pointer;
  color: inherit;
  padding: 0px 10px;
}
.time-btn {
  padding: 0px 5px;
  border-radius: 2px;
  background-color: rgb(238, 175, 48);
  color: rgb(255, 255, 255);
}
.row-4 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-filter {
  background-color: #002470;;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.row-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

::ng-deep p-dropdown {
  .p-dropdown {
    border: 1px solid white;
    padding: 5px;
    width: 100%;
    height: 40px;
  }
  .p-hidden-accessible input {
    border: none;
    width: 295px;
    outline: none;
  }
  .p-dropdown-label {
    padding: 3px!important;
  }
  .p-dropdown-trigger {
    background-color: white;
    color: black;
  }
  .p-dropdown-clearable, .p-disabled {
    width: 100%!important;
    border: 2px solid #767676;
  }
  .p-dropdown-panel {
    position: absolute;
    z-index: 1000;
    width: 305px;
  }
  .p-dropdown-item li {
    padding: 10px;
  }
  .p-dropdown-filter {
    padding: 5px;
  }
}

::ng-deep .scroll-bar {
  padding-right: 15px;
  .ps__thumb-y {
    background-color:  #0575e6!important;
  }
  .ps__thumb-y:hover {
    background-color: #1d55fc!important;
  }
  .ps__rail-y {
    background-color: #00f260!important;
  }
}
