<div class="container-fluid">
  <div class="container">
    <div class="layout-details-block">
      <div class="box-summary-datasets">
        <span>DATA SETS</span>
        <div class="remove-details-area" (click)="removeAllDetails()">
          <span class="remove-btn">Remove All</span>
        </div>
      </div>
      <ul class="list-details-datasets">
        <perfect-scrollbar style="height: 360px;" class="scroll-bar">
          <li *ngFor="let i of lst_choosen" class="box-details" >
            <div class="box-details-header">
              <button class="display-btn" id="display-btn" (click)="hideShowDataMap(i.tenData)"></button>
              <span class="dataset-name" >{{i.tenData}}</span>
              <div class="icon-grp-area" (click)="OpenCloseDetailsBody(i.tenData)">
                <i class="fa-solid fa-caret-down" id="{{i.tenData}}-icon" ></i>
              </div>
            </div>
            <div class="box-details-body" *ngIf="!displayDetailsBody[i.tenData]">
              <div class="row-1 box-summary-details">
                <button class="summary-detail" (click)="openSummary(i.idData)">Dataset Summary</button>
                <button class="menu-btn">
                  <i class="fa-solid fa-bars"></i>
                </button>
              </div>
              <div class="row-2 box-opacity-details">
                <label class="opacity">Opacity: {{opacityValue}}%</label>
                <div class="slidercontainer">
                  <p-slider class="slider" [min]="0" [max]="100" [(ngModel)]="opacityValue" (onChange)="setOpacity(i.tenData)"></p-slider>
                </div>
              </div>
              <div class="row-3 box-time-details">
                <span>Time:</span>
                <div style="display: flex;">
                  <div class="box-range-time">
                    <button class="date-previous">
                      <i class="fa-solid fa-caret-left"></i>
                    </button>
                    <button class="date-default">
                      <span>{{i.defaultDate | date: "dd/MM/yyyy"}}</span>
                    </button>
                    <button class="date-after">
                      <i class="fa-solid fa-caret-right"></i>
                    </button>
                  </div>
                  <button type="button" class="time-btn">
                    <i class="fa-solid fa-timeline"></i>
                  </button>
                </div>
              </div>
              <div class="row-4 box-filter-location">
                <button class="btn-filter">
                  <span>Filter by location</span>
                </button>
              </div>
              <div class="row-5 box-style-list">
                <span>Styles:</span>
                <p-dropdown
                  placeholder="Default Layer"
                  [options]="genLstStyles(i.listStyles)"
                  [(ngModel)]="selectedOption"
                  [filter]="true"
                ></p-dropdown>
              </div>
            </div>
          </li>
        </perfect-scrollbar>
      </ul>
    </div>
  </div>
</div>

