::ng-deep p-toast {
  position: absolute;
  top: 54px;
  right: 20px;
  width: 400px;
  z-index: 1001!important;

  .p-message-wrapper {
    padding: 10px!important;
  }
}
::ng-deep p-toastitem {
  .p-toast-message-content {
    padding: 5px!important;
  }
  .p-toast-message-icon {
    height: 42px;
  }
  .p-toast-detail {
    margin: 0rem!important;
  }
}

::ng-deep .leaflet-control-simpleMapScreenshoter {
  display: none!important;
}
::ng-deep .leaflet-control-browser-print {
  display: none!important;
}
