.container {
  display: flex;
  margin: 0px;
  padding: 0px;

}
img {
  position: absolute;
  width: calc(100vw - 335px);
  height: 100vh;
  z-index: -10;
}
.contain-all {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  margin: 0px;
  padding: 0px;
}
app-data-catalogue {
  position: absolute;
  top: 30px;
  left: 380px;
  right: 30px;
}
app-data-details {
  position: absolute;
  z-index: 1000;
}

::ng-deep p-toast {
  position: absolute;
  top: 54px;
  right: 20px;
  width: 400px;

  .p-message-wrapper {
    padding: 10px!important;
  }
}
::ng-deep p-toastitem {
  .p-toast-message-content {
    padding: 5px!important;
  }
  .p-toast-message-icon {
    height: 42px;
  }
  .p-toast-detail {
    margin: 0rem!important;
  }
}
