.container {
  display: flex;
  margin: 0px;
  padding: 0px;
}
app-data-catalogue {
  position: absolute;
  top: 30px;
  left: 380px;
  right: 30px;
}
app-data-details {
  position: absolute;
  z-index: 1000;
}

