.container-fluid {
  padding: 0px;
  z-index: 1001;
  position: absolute;
  width: calc(100vw - 350px);
  top: 0px;
  left: 350px;
  background-color: transparent;
}
.container {
  padding: 80px 30px;
  margin: 0px;
  width: 100%;
}
.catalogue-contain {
  border: 2px solid #014284;
  border-radius: 5px;
}
.header {
  height: 50px;
  background: linear-gradient(45deg, #00f260, #0575e6);
  display: flex;
  border-radius: 5px 5px 0px 0px;
}
.data-catalogue-area {
  display: flex;
  align-items: center;
}
.data-catalogue-btn {
  background: linear-gradient(45deg, #0575e6, #01a542);
  color: white;
  font-size: .9rem;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid rgba(255,255,255,0.7);
  cursor: pointer;
}
.done-area {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.done-btn {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #00f260, #0575e6);
  color: #fff;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 3px;
  font-size: .9rem;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

//body
.body {
  display: flex;
  background-color: white;
  height: calc(100vh*(2/3));
  border-radius: 0px 0px 5px 5px;
}
.data-catalogue-explorer {
  padding-right: 5px;
  padding-left: 5px;
}
.input-area {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
}
.input-block {
  display: flex;
  background-color: white;
  height: 40px;
  align-items: center;
  padding-left: 10px;
  border-radius: 40px;
}
.input-block input {
  border: none;
}
.input-block input:focus{
  outline: none;
}
.catalog-group {
  padding-left: 10px;
  padding-top: 5px;
  list-style-type: none;
}
.btn-icon-folder {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  font-size: 16px;
}

.catalog-group-btn {
  display: flex;
  text-align: left;
  font-size: 14px;
  padding: 8px 15px;
  padding-right: 0;
  min-height: 35px;
  width: 100%;
  font-weight: bold;
  line-height: normal;
  position: relative;
  border: none;
  margin-top: 3px;
}
.catalog-group-btn .btn-text {
  margin-left: 30px;
}
.catalog-group-btn:hover {
  background: linear-gradient(45deg, #00f260, #0575e6);
}
.catalog-group-btn:focus {
  background: linear-gradient(45deg, #00f260, #0575e6);
  outline: rgb(195, 144, 249) solid 3px;
}

//catalog-datasets
.catalog-group-datasets {
  margin-left: 20px;
  padding-left: 0px;
  border-left: 1px solid #9e9e9e;
  list-style-type: none;
  margin-top: 3px;
}
.catalog-group-datasets .btn-icon {
  display: flex;
  align-items: center;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
}
.btn-icon i {
  color: #0263c4;
}
.data-catalog-group-datasets {
  display: flex;
}
.catalog-group-datasets-btn {
  display: flex;
  text-align: left;
  font-size: 14px;
  padding: 8px 40px;
  padding-right: 0;
  margin-top: 3px;
  min-height: 35px;
  width: 100%;
  line-height: normal;
  position: relative;
  border: none;
}
.catalog-group-datasets-btn:hover {
  color: #3399ff;
}
.catalog-group-datasets-btn:focus {
  color: #3399ff;
  outline: rgb(195, 144, 249) solid 3px;
}


//catalogue-details
::ng-deep perfect-scrollbar {
  .ps__thumb-y {
    background-color: #00f260!important;
  }
  .ps__thumb-y:hover {
    background-color: #3EBF9D!important;
  }
  .ps__rail-y {
    background-color: #0575e6!important;
  }
}
.data-catalogue-details {
  height: 100%;
  overflow-y: none;
  overflow-x: none;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
.preview-map {
  width: 100%;
  height: 200px;
}

.preview-info {
  margin: 20px 0;
}
.preview-name {
  margin-bottom: 30px;
}
.preview-name h3 {
  font-size: 1.1rem;
  margin: .5em 0;
  font-weight: 600;
}
.preview-details {
  font-size: 14px;
}
.btn-description {
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  font-weight: 600;
}
.text-description {
  margin-top: 14px;
  margin-bottom: 14px;
}
//Service Description
.box-table-service {
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-desciption-table { // Bảng service to
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  background: linear-gradient(45deg, #00f260, #0575e6);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.service-desciption-table th {
  border: 1px solid #ced4da!important;
  font-weight: 600;
  font-size: 14px;
  min-height: 30px;
  width: 130px;
  padding: 0.5rem!important;
}
.service-desciption-table td {
  border: 1px solid #ced4da!important;
  height: 30px;
  word-wrap: break-word;
  padding: 0.5rem!important;
}

.service-td-table { // Bảng Service nhỏ
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
}
