<div class="container-fluid">
  <div class="container">
    <span class="root-menu">
      <img src="https://st4.depositphotos.com/5542528/38569/i/450/depositphotos_385696358-stock-photo-vietnam-globe-shape-country-zoomed.jpg">
    </span>
    <div class="layout-menu-block">
      <div class="btn-explore" (click)="OpenDataCatalogue()">
        <div class="icon-plus">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <span class="text-span">Explore map</span>
        <div class="icon-globe">
          <i class="fa-solid fa-earth-asia"></i>
        </div>
      </div>
      <div class="btn-upload"></div>
    </div>
    <div class="empty-workbench-block">
      <div class="box-text-workbench">
        <span>Your workbench is empty</span>
      </div>
      <div class="hint-box">
        <div class="hint-text">
          <span>Useful hints</span>
        </div>
        <div style="margin-bottom: 20px;"></div>
        <div class="hint-item">
          <i class="fa-solid fa-lightbulb"></i>
          <div style="margin-right: 10px;"></div>
          <span>Browse available data by selecting ‘Explore map data’ to add your choosen data to the map.</span>
        </div>
        <div class="hint-item">
          <i class="fa-solid fa-lightbulb"></i>
          <div style="margin-right: 10px;"></div>
          <span>Once you’ve added data to the map, your active data sets are listed here in your workbench. The workbench will help you to interact with the data.</span>
        </div>
        <div class="hint-item">
          <i class="fa-solid fa-lightbulb"></i>
          <div style="margin-right: 10px;"></div>
          <span>In the workbench you can toggle data sets on and off, change their opacity, activate the split screen comparison, change styles, and navigate through dates and times, if the data supports this functionality.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-data-catalogue [openCatalogue]="openCatalogue" (closeCatalogue)="closeDataCatalogue($event)"></app-data-catalogue>

