.container-fluid {
  width: 100%;
  padding: 0px;
}
.container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  height: 100vh;
  padding: 0px;
  background: linear-gradient(90deg, rgba(3, 89, 175, 0.7), rgba(0, 175, 70, 0.7));
}
.root-menu {
  display: block;
}
.root-menu img {
  width: 100%;
  height: 50%;
}
.layout-menu-block {
  padding: 10px;
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #0359afb3, #00af46b3);
}
.btn-explore {
  width: 100%;
  height: 40px;
  background-color: #002470;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.icon-plus {
  display: flex;
  padding: 10px;
  margin-left: 10px;
}
.icon-globe {
  padding: 10px;
  display: flex;
  margin-right: 10px;
  margin-left: auto;
}
.icon-plus i, .icon-globe i {
  transform: scale(2.5);
}
.text-span {
  font-size: 16px;
  margin-left: 20px;
}

// Workbench
.empty-workbench-block {
  width: 350px;
  height: 100%;
  color: white;
  font-weight: 600;
}
.box-text-workbench {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hint-box {
  padding: 15px;
  padding-top: 0px;
}
.hint-item {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
}
.hint-item i {
  margin-top: 5px;
}
