<div class="container-fluid">
  <div class="container">
    <span class="root-menu">
      <img src="https://pub.mdpi-res.com/remotesensing/remotesensing-07-02279/article_deploy/html/images/remotesensing-07-02279-ag.png?1568996113">
      <label></label>
    </span>
    <div class="layout-menu-block">
      <div class="btn-explore" (click)="openCatalogue()">
        <span>Explore map</span>
      </div>
      <div class="btn-upload"></div>
    </div>
    <div class="layout-details-block"></div>
  </div>
</div>


