<div class="container-fluid">
  <img class="img-back" src="/assets/Image_background_VN/HanoiMap.png">
  <div class="contain">
    <div class="header">
      <div class="btn-area">
        <button class="btn-explore-map" routerLink="/base-page">
          <span>EXPLORE THE MAP</span>
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </div>
    </div>
    <div class="body">
        <div class="carousel-area">
          <p-carousel
            class="carousel"
            [value]="data_carousel"
            styleClass="custom-carousel"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
          >
            <ng-template pTemplate="item" let-data>
              <div class="product-item">
                <div class="product-item-content">
                  <div>
                    <div class="text-overlay">
                      <p class="text-name">{{data.name}}</p>
                      <h1 class="text-description">{{data.description}}</h1>
                    </div>
                    <div class="overlay-panel"></div>
                    <img class="carousel-img" src="{{data.imageUrl}}">
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="transparent-area">
          <div class="transparent-container">
            <div class="container-left col-md-6">
              <div class="box-transparent">
                <img src="/assets/resource_images/water-services.png">
                <h5>Water Resources</h5>
              </div>
              <div class="box-transparent">
                <img src="/assets/resource_images/coastal-erosion.png">
                <h5>Coastal Erosion</h5>
              </div>
            </div>
            <div class="container-right col-md-6">
              <div class="box-transparent">
                <img src="/assets/resource_images/agriculture-services.png">
                <h5>Agriculture and Food</h5>
              </div>
              <div class="box-transparent">
                <img src="/assets/resource_images/urbanisation.png">
                <h5>Urbanisation</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="content-area">
          <img class="img-content" src="/assets/Image_background_VN/satellite_night_type.jpeg">
        </div>
        <div class="propanganda-area">
          <h2 class="propanganda-title">Weekly Articles</h2>
          <p class="propanganda-story">Some stories of satellite technology application on many living aspects in Viet Nam. May be you will be interested in them</p>
          <div class="view-content">
            <div *ngFor="let i of data_articles" class="view-article">
              <div class="content-container">
                <img src="{{i.imageUrl}}">
                <div class="article-overlay">
                  <h3>{{i.title}}</h3>
                  <p>{{i.description}}</p>
                  <a class="btn-read" href="{{i.routerLink}}" target="_blank">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <p>VietNam Satellite Image System is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
