.container-fluid {
  padding: 0px;
  width: 100vw;
  overflow: hidden!important;
}
.img-back {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.contain {
  padding: 0px;
  z-index: 10;
  margin: 0px;
  width: 100vw;
  position: absolute;
  left: 0px;
}

// header
.header {
  height: 80px;
  width: 100%;
  background: linear-gradient(45deg, #13254C, #3874B0)!important;
  border-bottom: 2px solid white;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
}
.btn-area {
  margin-left: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-explore-map {
  width: 230px;
  height: 40px;
  background-color: #054adf;
  padding-left: 20px;
  font-weight: 700;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.btn-explore-map i {
  margin-left: auto;
  margin-right: 15px;
}
.btn-explore-map:hover {
  background-color: white;
  color: #003cbe;
  border: 2px solid #003cbe;
}

//body
.body {
  margin-top: 80px;
}

//carousel-area
.carousel-area {
  width: 100%;
  height: 600px;
}

::ng-deep .carousel {
  .p-carousel-items-content {
    position: absolute;
    border-bottom: 2px solid white;
  }
  .p-carousel-prev {
    position: absolute;
    left: 20px;
    top: 284px;
    z-index: 100;
    width: 40px!important;
    height: 40px!important;

  }
  .p-carousel-prev .carousel-prev-icon {
    scale: 2;
    color: white;
  }
  .p-carousel-next {
    position: absolute;
    right: 20px;
    top: 284px;
    z-index: 100;
    width: 40px!important;
    height: 40px!important;

  }
  .p-carousel-next .carousel-prev-icon {
    color: white;
    scale: 2;
  }
  .p-carousel-prev:hover, .p-carousel-next:hover {
    background: linear-gradient(45deg, #0c59a8, #00b648)!important;
    border: 1px solid white;
  }

  // ng-template
  .text-name {
    font-size: 1.3rem;
    font-weight: 100;
  }
  .text-description {
    font-size: 600;
    font-weight: 900;
  }
  .carousel-img {
    width: 100%;
    height: 600px;
  }
  .overlay-panel {
    background: linear-gradient(90deg, rgba(1, 134, 74, 0.336), rgba(0, 176, 156, 0.576));
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 20;
  }
  .text-overlay {
    //background: rgba(51, 51, 51, 0.7);
    background: linear-gradient(45deg, #0e2861b8, #2167adb7)!important;
    position: absolute;
    margin-left: 150px;
    top: 80px;
    padding: 20px;
    z-index: 30;
    width: 700px;
    height: 320px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
  }
}

// transparent-area
.transparent-area {
  background: transparent;
  width: 100%;
  height: 500px;
}
.transparent-container {
  justify-content: space-between !important;
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
}
.container-left, .container-right {
  padding: 10px;
}
.box-transparent {
  background: linear-gradient(45deg, #0038b0d3, #5fa9f3c1)!important;
  padding: 1rem;
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}
.box-transparent:hover {
  //box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, 0.7);
  box-shadow: 2px 1px 25px 5px rgba(96, 135, 251, 0.7);
}
.box-transparent img {
  height: 56px;
  width: 56px;
  margin: 16px;
}
.box-transparent h5 {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

// content-area
.content-area {
  width: 100%;
  background: linear-gradient(90deg, #002a54, #015a24)!important;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.content-area .img-content {
  width: 100vw;
}

// propanganda-area {
.propanganda-area {
  width: 100%;
  background-color: white!important;
}
.propanganda-title {
  text-align: center;
  padding-top: 1rem;
  font-weight: 600;
  color: #014890;
}
.propanganda-story {
  text-align: center;
  color: #014890;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.view-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.view-article {
  width: 25%;
  height: 600px;
  padding: 0.5rem;
  position: relative;
}
.content-container:hover {
  box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, 0.7);
}
.view-article img {
  height: 584px;
  width: 100%;
  object-fit: cover;
  max-height: inherit !important;
}
.article-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: absolute;
  bottom: 0.5rem;
  height: 290px;
  width: 350px;
  color: white;
}
.article-overlay h3 {
  font-size: 1.2rem;
  font-weight: 600;
  height: 70px;
}
.article-overlay p {
  font-size: 1rem;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  margin-bottom: 16px!important;
  height: 128px;
}
.btn-read {
  background-color: #336699;
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-weight: 600;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 17px 8px 17px;
  transition: all 0.5s;
  cursor: pointer;
  width: 120px;
}
.btn-read:hover {
  background-color: #FFFFFF;
  border: 1px solid #336699;
  color: #336699 !important;
  text-decoration: none !important;
  font-weight: 600;
  border-radius: 10px;
}

// footer
.footer {
  background: linear-gradient(45deg, #0e2861b8, #2167adb7)!important;
  height: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 5px solid rgb(0, 168, 190);
  display: flex;
  align-items: center;
}
.footer-content {
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
}
.footer-content p {
  font-size: 16px;
  color: #eeeeee;
  font-weight: 600;
}

