body {
  margin: 0px;
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}
@media print {
  body {
    -webkit-print-color-adjust: exact!important;
    print-color-adjust: exact !important;
  }
}
