<div class="map-container">
  <div id="map"></div>
  <div class="map-footer">
    <div class="box-right-corner">
      <div class="coordinate-box">
        <div class="location-lat">
          <span class="location-style">Lat</span>
          <span class="coordinate-lat" id="cord-lat"></span>
        </div>
        <div class="location-lng">
          <span class="location-style">Lng</span>
          <span class="coordinate-lng" id="cord-lng"></span>
        </div>
        <i class="fa-solid fa-satellite icon-coordinate"></i>
      </div>
      <div class="scale-box">
        <label id="customScaleControl"></label>
      </div>
    </div>
  </div>
</div>

<div class="zoom-area" *ngIf="_dataMapService.displayZoom">
  <button class="btn-zoomIn" (click)="zoom_in()">
    <i class="fa-solid fa-plus"></i>
  </button>
  <button class="btn-home" (click)="set_zoom_home()">
    <i class="fa-solid fa-house"></i>
  </button>
  <button class="btn-zoomOut" (click)="zoom_out()">
    <i class="fa-solid fa-minus"></i>
  </button>
</div>

<!--1 là hiện tọa độ-->
<div *ngIf="LineMeasuring==1" class="box-panel-info" id="box-panel-info"> <!--Panel Coordinates-->
  <div class="panel-header">
    <span style="margin-left: 10px;">Feature Infomation</span>
    <span class="icon-cl" (click)="closePanel()">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </div>
  <div class="panel-body">
    <div class="data-details-panel"></div>
    <div class="dimension-panel">
      <span class="panel-text">Lat/Lng</span>
      <div class="point-area">
        <span class="coordinate" id="point-lat">{{lat}}</span>
        <span>/ </span>
        <span class="coordinate" id="point-lng">{{lng}}</span>
      </div>
      <span style="margin-right: 5px;">
        <i class="fa-solid fa-location-dot"></i>
      </span>
    </div>
  </div>
</div>

<!-- 2 là hiện khoảng cách -->
<div *ngIf="LineMeasuring==2" class="box-panel-info" id="box-panel-info"> <!--Panel Distance-->
  <div class="panel-header">
    <span style="margin-left: 10px;">Distance Measurements</span>
    <span class="icon-cl" (click)="closePanel()">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </div>
  <div class="panel-body">
    <div class="data-details-panel"></div>
    <div class="dimension-panel">
      <span class="panel-text">Distance</span>
      <div class="point-area">
        <span class="coordinate">{{customTotalDistance(totalDistance)}}</span>
      </div>
      <span style="margin-right: 5px;" *ngIf="LineMeasuring!=2">
        <i class="fa-solid fa-location-dot"></i>
      </span>
    </div>
  </div>
</div>

<div class="box-map-setting">
  <div class="setting-area" (click)="openMapSetting()">
    <i class="fa-solid fa-map-location-dot"></i>
    <span style="margin-left: 10px;" class="setting-btn">Map Settings</span>
  </div>

  <div class="map-type-area" *ngIf="displayMapSetting">
    <div class="header">
      <span>Map types</span>
      <span class="close-ic" (click)="closeMapSetting()">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="body">
      <div class="row-1">
        <button class="btn-map-type" (click)="_dataMapService.chooseDefaultMap()">
          <img src="https://terria-catalogs-public.storage.googleapis.com/saas-bucket-temp/de-africa/dea-basemaps/EsriWorldImagery.png">
        </button>
        <button class="btn-map-type" (click)="_dataMapService.chooseWorldPhysicalMap()">
          <img src="https://terria-catalogs-public.storage.googleapis.com/saas-bucket-temp/de-africa/dea-basemaps/NaturalEarthII.png">
        </button>
        <button class="btn-map-type" (click)="_dataMapService.choosePositronMap()">
          <img src="https://terria-catalogs-public.storage.googleapis.com/saas-bucket-temp/de-africa/dea-basemaps/Positron(Light).png">
        </button>
        <button class="btn-map-type" (click)="_dataMapService.chooseDarkmatterMap()">
          <img src="https://terria-catalogs-public.storage.googleapis.com/saas-bucket-temp/de-africa/dea-basemaps/DarkMatter.png">
        </button>
      </div>
      <div class="row-2">
      </div>
    </div>
  </div>
</div>

<div class="box-linemeasure" (click)="openCloseDeleteIcon()" id="box-linemeasure">
  <div class="box-expand" >
    <span class="icon-measure">
      <i class="fa-solid fa-arrows-left-right-to-line"></i>
    </span>
    <span class="span-text" style="margin-left: 4px; margin-right: 10px;">Line measure</span>
    <span *ngIf="displayIconDelete" class="icon-delete" id="icon-delete">
      <i class="fa-regular fa-circle-xmark"></i>
    </span>
  </div>
</div>

<div class="box-timeline" *ngIf="false">
  <div class="box-story-area"></div>
  <div class="timeline-area">
    <div class="timeline-chart">
      <p-timeline class="timeline" [value]="events2" layout="horizontal" align="bottom">
        <ng-template pTemplate="content" let-event>
          &#123;&#123;event&#125;&#125;
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>
