.map-footer {
  position: absolute;
  display: flex;
  z-index: 1000;
  height: 30px;
  width: calc(100% - 350px);
  background: white;
  bottom: 0px;
  align-items: center;
  font-size: 14px;
}
.box-right-corner {
  display: flex;
  position: absolute;
  right: 0px;
  left: auto;
}

.box-panel-info {
  background: #3f4854;
  color: white;
  position: absolute;
  top: 60px;
  left: 500px;
  z-index: 10000;
  cursor: move;
}
.panel-header {
  padding-right: 40px;
  line-height: 40px;
  border-bottom: 1px solid white;
}
.dimension-panel {
  height: 40px;
}
