<div class="map-container">
  <div id="cesiumContainer"></div>
  <div id="map"></div>
  <div class="map-footer">
    <div class="box-right-corner">
      <div class="coordinate-box">
        <div class="location-lat">
          <span class="location-style">Lat</span>
          <span class="coordinate-lat" id="cord-lat"></span>
        </div>
        <div class="location-lng">
          <span class="location-style">Lng</span>
          <span class="coordinate-lng" id="cord-lng"></span>
        </div>
        <i class="fa-solid fa-satellite icon-coordinate"></i>
      </div>
      <div class="scale-box">
        <label id="customScaleControl"></label>
      </div>
    </div>
  </div>
</div>

<div class="zoom-area" *ngIf="_dataMapService.displayZoom">
  <button class="btn-zoomIn" (click)="zoom_in()">
    <i class="fa-solid fa-plus"></i>
  </button>
  <button class="btn-home" (click)="set_zoom_home()">
    <i class="fa-solid fa-house"></i>
  </button>
  <button class="btn-zoomOut" (click)="zoom_out()">
    <i class="fa-solid fa-minus"></i>
  </button>
</div>

<!--1 là hiện tọa độ-->
<div *ngIf="typeWorking=='CoordinatesWorking'" class="box-panel-info" id="box-panel-info"
  (mousedown)="onMouseDown($event)"
  [ngStyle]="{ left: left + 'px', top: top + 'px' }"
> <!--Panel Coordinates-->
  <div class="panel-header">
    <span style="margin-left: 10px;">Feature Infomation</span>
    <span class="icon-cl" (click)="closePanel()">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </div>
  <div class="panel-body">
    <div class="data-details-panel"></div>
    <div class="dimension-panel">
      <span class="panel-text">Lat/Lng</span>
      <div class="point-area">
        <span class="coordinate" id="point-lat">{{lat}}</span>
        <span>/ </span>
        <span class="coordinate" id="point-lng">{{lng}}</span>
      </div>
      <span style="margin-right: 5px;">
        <i class="fa-solid fa-location-dot"></i>
      </span>
    </div>
  </div>
</div>

<!-- 2 là hiện khoảng cách -->
<div *ngIf="typeWorking=='MeasureWorking'" class="box-panel-info" id="box-panel-info"
  (mousedown)="onMouseDown($event)"
  [ngStyle]="{ left: left + 'px', top: top + 'px' }"
> <!--Panel Distance-->
  <div class="panel-header">
    <span style="margin-left: 10px;">Distance Measurements</span>
    <span class="icon-cl" (click)="openCloseMeasureDistance('box-linemeasure')">
      <button class="btn-done-panel">
        <span>Done</span>
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="data-details-panel"></div>
    <div class="dimension-panel">
      <span class="panel-text">Distance</span>
      <div class="point-area" >
        <span class="coordinate">{{customTotalDistance(totalDistance)}}</span>
      </div>
      <span style="margin-right: 5px;" >
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
      </span>
    </div>
  </div>
</div>

<div class="box-map-setting">
  <div class="setting-area" (click)="openMapSetting()">
    <i class="fa-solid fa-map-location-dot"></i>
    <span style="margin-left: 10px;" class="setting-btn">Map Settings</span>
  </div>

  <div class="map-type-area" *ngIf="displayMapSetting">
    <div class="header">
      <span>Map types</span>
      <span class="close-ic" (click)="closeMapSetting()">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="body">
      <div class="row-1" >
        <button class="btn-map-type" [class.active]="activeIndex === 0" (click)="chooseDefaultMap()" (click)="setActiveMapSetting(0)">
          <img src="/assets/ImageMap/Esri_Imaginary_Map.png">
        </button>
        <button class="btn-map-type" [class.active]="activeIndex === 1" (click)="chooseWorldPhysicalMap()" (click)="setActiveMapSetting(1)">
          <img src="/assets/ImageMap/Esri_Physical_Map.png">
        </button>
        <button class="btn-map-type" [class.active]="activeIndex === 2" (click)="choosePositronMap()" (click)="setActiveMapSetting(2)">
          <img src="/assets/ImageMap/Positron_Map.png">
        </button>
        <button class="btn-map-type" [class.active]="activeIndex === 3" (click)="chooseDarkmatterMap()" (click)="setActiveMapSetting(3)">
          <img src="/assets/ImageMap/DarkMatter_Map.png">
        </button>
      </div>
      <div class="row-city-label">
        <button class="btn-city-label" id="btn-city-label" (click)="openCloseCitiesLabel()">
          <span>Display locations</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="box-linemeasure" (click)="openCloseMeasureDistance('box-linemeasure')" id="box-linemeasure">
  <div class="box-expand" >
    <span class="icon-measure">
      <i class="fa-solid fa-arrows-left-right-to-line"></i>
    </span>
    <span class="span-text">Line measure</span>
    <span *ngIf="displayIconDelete['box-linemeasure']" class="icon-delete" id="icon-delete">
      <i class="fa-regular fa-circle-xmark"></i>
    </span>
  </div>
</div>

<div class="box-compare" (click)="openCloseCompareBox('box-compare', this._dataCatalogueService.choosen_lst)" id="box-compare">
  <div class="box-expand" >
    <span class="icon-compare">
      <i class="fa-solid fa-code-compare"></i>
    </span>
    <span class="span-text">Compare</span>
    <span *ngIf="displayIconDelete['box-compare']" class="icon-delete" id="icon-delete">
      <i class="fa-regular fa-circle-xmark"></i>
    </span>
  </div>
</div>

<div class="box-location" (click)="getCloseUserLocation('box-location')" id="box-location">
  <div class="box-expand" >
    <span class="icon-location">
      <i class="fa-solid fa-location-crosshairs"></i>
    </span>
    <span class="span-text">Location</span>
    <span *ngIf="displayIconDelete['box-location']" class="icon-delete" id="icon-delete">
      <i class="fa-regular fa-circle-xmark"></i>
    </span>
  </div>
</div>

<div class="box-print-screenshot">
  <div class="btn-print-area" (click)="openPrintScreenshot()">
    <i class="fa-solid fa-photo-film"></i>
    <span style="margin-left: 10px;">Print / Screenshot</span>
  </div>

  <div class="print-screenshot-area" *ngIf="displayPrintScreenshot">
    <div class="print-header-area">
      <span>Print Map</span>
      <span class="close-ic" (click)="closePrintScreenshot()">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="print-body-area">
      <div class="row-btn">
        <button class="btn-screenshot" (click)="clickScreenShot()">
          <i class="fa-solid fa-camera-retro"></i>
          <span style="margin-left: 10px;">Map Screenshot</span>
        </button>
        <button class="btn-print" (click)="openClosePrintTypes()">
          <i class="fa-solid fa-print"></i>
          <span style="margin-left: 10px;">Print Map</span>
        </button>
      </div>
      <div class="row-type-print" *ngIf="displayPrintType">
        <div class="type-print-header">
          <span>Choose print types</span>
        </div>
        <div class="type-print-body">
          <button class="btn-landscape print-type" (click)="clickPrintLandscape()">
            <span>Landscape</span>
          </button>
          <button class="btn-portrait print-type" (click)="clickPrintPortrait()">
            <span>Portrait</span>
          </button>
          <button class="btn-auto print-type" (click)="clickPrintAuto()">
            <span>Auto</span>
          </button>
          <button class="btn-custom print-type" (click)="clickPrintCustom()">
            <span>Custom</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box-about">
  <div class="btn-box-about" (click)="getInformation()">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
    <span style="margin-left: 10px;">About</span>
  </div>
</div>

<div class="box-help">
  <div class="btn-box-help" (click)="takeATour()">
    <i class="fa-regular fa-circle-question"></i>
    <span style="margin-left: 10px;">Help</span>
  </div>
</div>

<div class="box-timeline" *ngIf="false">
  <div class="box-story-area"></div>
  <div class="timeline-area">
    <div class="timeline-chart">
      <p-timeline class="timeline" [value]="events2" layout="horizontal" align="bottom">
        <ng-template pTemplate="content" let-event>
          &#123;&#123;event&#125;&#125;
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>


<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
<script>
  var imageUrl = '/assets/satellite_land_cover/VLUCD_L1_250m_2020.png';
  console.warn(imageUrl);
  fetch(imageUrl)
    .then(response => response.arrayBuffer())
    .then(arrayBuffer => {
      parseGeoraster(arrayBuffer).then(georaster => {
        console.log("georaster:", georaster);
        var layer = new GeoRasterLayer({
            georaster: georaster,
            opacity: 0.7
        });
        layer.addTo(this.map);

        this.map.fitBounds(layer.getBounds());

    });
  });
</script>

